{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hola,

Recibiste este correo porque solicitaste restablecer la contraseña de tu cuenta en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, haz clic en el siguiente enlace para crear una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'consultas:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Este enlace es válido por única vez y expirará automáticamente." %}

{% translate "Si no solicitaste este cambio, puedes ignorar este correo sin ningún problema." %}

{% translate "Atentamente," %}
{{ site_name }}

{% endautoescape %}